@model IEnumerable<Inventory_Management_System.Models.HopDTO>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<!--Successfuly generates a list of all hops with their information-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HopID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopClassificationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopProducer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopProductionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopSerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlphaAcid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetaAcid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.HopID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HopClassificationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HopName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HopProducer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HopProductionDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HopSerialNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HopVolume)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AlphaAcid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BetaAcid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HopNotes)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.HopID }) |
        @Html.ActionLink("Details", "Details", new { id = item.HopID }) |
    </td>
</tr>
}

</table>
